@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Carros";
}

<div class="container text-center carros">
    <h1 class="display-4">Tela de Cadastro de Carros</h1>
    <p>Cadastre os carros disponíveis no inventário</p>
</div>
<div>
    <p>
        <a class="nav-link text-dark" asp-area="" asp-controller="Carros" asp-action="CadCarros">Cadastro de Carros</a>
    </p> 
</div>
