@{
    ViewData["Title"] = "Home Page";
}

<div class="home-text">
   <h1 class="display-4">Seja Bem Vindo.</h1>
    <h1 class="display-4">Dealership Concessionária</h1>
    <p>Portal do Administrador Dealership Concessionária.</p>
</div>
