@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewData["Title"] = "Concessionária AV1";
}

<div class="text-center">
    <h1 class="display-4">Projeto AV1</h1>
    <p>Desenvolvimento de Sistemas WEB com ASP.NET</p>
</div>
