@{
    ViewData["Title"] = "Home Page";
}

<div class="car">
    <div class="index">
        <div>
            <h1 class="display-4">Concessionária</h1>
            <p>Projeto AV1 sobre Concessionária para a matéria Desenvolvimento de Sistemas WEB com .Net</p>
        </div>
    </div>
</div>